<?xml version="1.0" encoding="UTF-8"?>
<project name="${application.getName()}" default="build" basedir=".">
    <description>Builds, the project ${application.getName()}.</description>
    
    <target name="setup">
        <mkdir dir="${application.getBuildDirectory()}"/>
        <mkdir dir="${application.getBuildDirectory()}/messages"/>
        <mkdir dir="${application.getDistributionDirectory()}"/>
    </target>

#if(!$application.getLibraries().isEmpty())
    <path id="project.classpath">
#foreach($library in $application.getLibraries())
        <pathelement location="${application.getLibDirectory()}/${stringUtils.getFileName($library)}"/>
#end
    </path>

    <path id="run.classpath">
        <path refid="project.classpath"/>
        <pathelement location="${application.getBuildDirectory()}"/>
    </path>

#end
    <target name="compile" depends="setup">
        <javac srcdir="${application.getSourceDirectory()}"
            destdir="${application.getBuildDirectory()}">
#if(!$application.getLibraries().isEmpty())
            <classpath refid="project.classpath"/>
#end
        </javac>
    </target>

    <target name="build" depends="compile">
        <copy todir="${application.getBuildDirectory()}/messages">
            <fileset dir="${application.getSourceDirectory()}/messages"/>
        </copy>    
        <jar destfile="${application.getDistributionDirectory()}/${application.getName()}.jar">
            <fileset dir="${application.getBuildDirectory()}"/>
        </jar>
    </target>

#if($application.getMainClass())
    <target name="run" depends="build">
        <java classname="${application.getMainClass()}" fork="yes">
#if(!$application.getLibraries().isEmpty())
            <classpath refid="run.classpath"/>
#end
        </java>
    </target>
#end
</project>